@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
.logo{
  transition: all ease .6s;
}
.logo:hover{
  transition: all ease .6s;
  transform: rotate(360deg);
  cursor: pointer;
}
.navbar-brand{
  color: white;
  z-index: 5;
}
.dropdown-menu{
  transition: ease 0.5s;
  text-emphasis: none;
  z-index: 10;
}

@media (min-width: 768px) {
  .dropdown:hover > .dropdown-menu{
    display: block;
  }
  .logo{
    margin-left: 50px;
  }
}

.dropdown:hover > .dropdown-menu{
  margin-top: 0;
  transition: ease 0.5s;
  z-index: 10;
}
.dropdown-toggle::after {
  content: none;
}
nav div{
  background-color: #db0000;
}
nav li{
  color: white;
  text-decoration: none;
  font-family: 'fira sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
nav li:hover{
  text-decoration: underline;
}
.carousel-inner{
  z-index: -1;
}
.c-item {
  display: flex;
  height: 90vh;
  object-fit: contain;
  align-items: center;
}
.c-item1 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 90vh;
  object-fit: cover;
  align-items: center;
  background-image: image("Carousel images/carousel 1-bg.png");
}
.c-item {
  display: flex;
  height: 90vh;
  object-fit: contain;
  align-items: center;
}
.c-image{
  height: 100%;
  object-fit: cover;
}

/* Carousel END */

/* END */

/* Hero START */
.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center
}
.rajdhani{
  font-family: rajdhani;
  font-weight: 500;
}
.our-range p{
  font-family: rajdhani;
  font-weight: 500;
}
.hero h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  font-size: 30px;
  line-height: 1.375em;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: none;
  font-style: normal;
}
.our-range-h{
  color: #db0000;
}
.our-range-h1{
  color: #105b29;
}
.our-range-h2{
  color: #f95a0f;
}
.our-range-h3{
  color: #d97e68;
}
.our-range-h4{
  color: #d97e68;
}
.our-range-h5{
  color: #d97e68;
}
.our-range-h6{
  color: #d97e68;
}
.our-range-h7{
  color: #d97e68;
}
.our-range{
  color: black;
}
.hero p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .p{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.contact-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us i{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #db0000;
  font-size: 40px;
}